<app-barra-menu nombreUsuario=""></app-barra-menu>
<div class="formulario-campos container-sm">
    <h2 style="text-align: center;">Recuperación de Contraseña</h2>
    <div *ngFor="let campo of campos" class="campos" class="w-75 mx-auto">
        <app-campo-entrada
            [formGroup]="formGroup"
            [campoOpciones]="campo">
        </app-campo-entrada>
    </div>
    <div class="botones container text-center">
    <div class="row">
    <div class="col-sm-6">
        <button id="btnSiguienteRecuperarPasswd" name="btnSiguienteRecuperarPasswd" aria-describedby="Siguiente paso para recuperar contraseña."
          class="btn btn-primary"
        >
            <span>
                Siguiente
            </span>
        </button>
    </div>
    <div class="col-sm-6">
        <button id="btnVolverInicio" name="btnVolverInicio" aria-describedby="Siguiente paso para recuperar contraseña."
          class="btn btn-primary" 
        >
            <span routerLink="/inicio-sesion">
                Volver a Inicio
            </span>
        </button>
    </div>
    </div>
  </div>
    
</div>

