<!-- MENU -->
<div class="d-flex flex-wrap menu-general">
  <div class="col-6">
    <div style="color: white" class="d-flex align-items-center">
      <span *ngIf="nombreUsuario">{{nombreUsuario}}</span>
    </div>
  </div>
  <div class="col-3 d-flex justify-content-center">
    <select class="form-select btn btn-secondary" aria-label="selección de idioma de la página">
      <option selected>Español</option>
      <option>Quichua</option>
      <option>Shuar</option>
    </select>
  </div>
  <div class="col-3 d-flex justify-content-center">
    <button name="volverInicio" aria-describedby="Volver al inicio"
            class="btn btn-secondary d-flex align-items-center" routerLink="/inicio-sesion">
      <mat-icon aria-hidden="false" aria-label="ícono de casa">home</mat-icon>
      <span>Volver al inicio</span>
    </button>
  </div>
</div>
