.boton{
    background-color: #23497A;
    color: white;
    width: auto;
    border: 1px solid black;
    margin: 15px;
}

.container-fluid{
    display: grid;
    grid-template-columns: 50% 50%;
}


  