/* ICONOS */
.icon {
  height: 40px;
}

mat-icon{
  font-size: 40px;
  margin-right: 40px;
}

.informativo {color: #08bcd4;}
.error {color: #f84434;}
.confirmacion {color: #ffc404}
.exito {color: #24bb04}

/* BOTONES */
button {
  margin: 0 10px;
}
