<ng-container [ngSwitch]="campoOpciones.type">
  <ng-container *ngSwitchCase="'checkbox'">
    <ng-container *ngTemplateOutlet="checkbox"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'select'">
    <ng-container *ngTemplateOutlet="select"></ng-container>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <ng-container *ngTemplateOutlet="generic"></ng-container>
  </ng-container>
</ng-container>

<ng-template #checkbox>

</ng-template>

<ng-template #select>

</ng-template>

<ng-template #generic>
  <div [formGroup]="formGroup" class="form-group">
    <label for="{{campoOpciones.nameField}}"
           [ngClass]="obtenerMensajeAyuda(campoOpciones, formGroup).error ? 'mensaje-error' : ''">
      {{campoOpciones.title}}
    </label>
    <input id="{{campoOpciones.nameField}}"
           class="form-control"
           [ngClass]="obtenerMensajeAyuda(campoOpciones, formGroup).error ? 'input-error' : ''"
           [attr.aria-label]="campoOpciones.screenReaderText"
           [formControlName]="campoOpciones.nameField"
           [type]="campoOpciones.type"
           [placeholder]="campoOpciones.placeholder">
    <span class="form-text"
           [ngClass]="obtenerMensajeAyuda(campoOpciones, formGroup).error ? 'mensaje-error' : ''">
      {{obtenerMensajeAyuda(campoOpciones, formGroup).mensaje}}
    </span>
  </div>
</ng-template>
