.bg-principal{
    background-color: #B0BDCE;
    box-sizing: border-box;
 }
.formulario-campos{
    width: 100%;
}
.botones{
    margin: 15px 0 15px 0;
}
.container-form{
    width: 75%;
}
h2{
    margin: 10px 0 10px 0;
}
#btnSiguienteRecuperarPasswd{
    background-color: #23497A;
    border-radius: 87px;
    width: 50%;
}
#btnVolverInicio{
    background-color: #FFFFFF;
    border: 1.5px solid #000000;
    color: #000000;
    border-radius: 87px;
    width: 50%;
}
button{
    margin: 15px 0 15px 0;
}
img{
    width: 125px;
    height: 100px;
}
#correo-confirmacion{
    cursor: pointer;
}