<app-barra-menu nombreUsuario=""></app-barra-menu>
<div class="bg-principal">
    <div class="container-form d-flex bg-white mx-auto">
        <div class="formulario-campos container-sm">
            <h2 style="text-align: center;">Recuperación de Contraseña</h2>
            <div class="campos" class="w-75 mx-auto">
                <div class="p2" style="text-align: center;">
                    Se ha enviado un<b> mensaje</b> con un enlace para actualizar tu contraseña<br>
                    al siguiente correo electrónico:
                </div>
                <br>
                <div class="h4" id="correo-confirmacion" style="text-align: center;" routerLink="/actualizar-password">
                    perezjuan12@gmail.com
                </div>
                <br>
                <div class="p2" style="text-align: center;">
                    Por favor, <b>actualiza la contraseña</b> cuando ingreses al enlace y recuerda que<br>
                    <b>solamente tú debes conocerla</b>.
                </div>
                <br>
                <div class="p2" style="text-align: center;">
                    Revisa tu correo y abre el enlace de actualización de contraseña.
                </div>
            </div>
            <br>
            <div class="correos w-75 container text-center">
                <div class="row">
                    <div class="col-sm-3 mx-auto">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png" id="enlaceGmail" name="enlaceGmail" aria-describedby="Acceso a correo Gmail" class="img-thumbnail" alt="Logo de correo electrónico de Gmail">
                        <br>
                        <span>
                            <b>Gmail</b>
                        </span>

                    </div>
                    <div class="col-sm-3 mx-auto">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Microsoft_Office_Outlook_%282018%E2%80%93present%29.svg/1101px-Microsoft_Office_Outlook_%282018%E2%80%93present%29.svg.png" id="enlaceOutlook" name="enlaceOutlook" aria-describedby="Acceso a correo Outlook" class="img-thumbnail" alt="Logo de correo electrónico de Outlook">
                        <span>
                            <b>Outlook</b>
                        </span>

                    </div>
                    <div class="col-sm-3 mx-auto">
                        <img src="https://s.yimg.com/cv/apiv2/myc/mail/Mail_iOS_app_icon.png" id="enlaceGmail" name="enlaceGmail" aria-describedby="Acceso a correo Yahoo" class="img-thumbnail" alt="Logo de correo electrónico de Yahoo">
                        <span>
                            <b>Yahoo</b>
                        </span>

                    </div>
                </div>
            </div>
            <div class="botones container text-center">
                <div class="row">
                    <div class="col-sm-6 mx-auto">
                        <button id="btnSiguienteRecuperarPasswd" name="btnSiguienteRecuperarPasswd" aria-describedby="Siguiente paso para recuperar contraseña." class="btn btn-primary" routerLink="/inicio-sesion">
                            <span>
                                Volver a Inicio
                            </span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>