/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.boot-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton{
  background-color: #23497A;
  color: white;
  width: auto;
  border: 1px solid black;
  margin: 15px;
}

.boton:hover{
  background-color: white;
  color: #23497A;
  width: auto;
  border: 1px solid #23497A;
  margin: 15px;
}
