<!-- CABECERA -->
<header id="cabecera" class="d-flex flex-wrap boot-center">
  <div class="col-lg-5 col-md-5 col-sm-12 col-12 d-flex justify-content-center">
    <h2>Dirección General de Registro Civil, Identificación y Cedulación</h2>
  </div>
  <div id="tituloVerificacionDatos" class="col-lg-5 col-md-5 col-sm-12 col-12">
    <div class="d-flex boot-center flex-wrap">
      <h1 class="col-lg-9 col-md-9 col-sm-12 col-12">Verificación de datos en línea</h1>
      <mat-icon class="col-lg-3 col-md-3 col-sm-12 col-12" aria-hidden="false" aria-label="ícono de validación de datos">edit_document</mat-icon>
    </div>
  </div>
</header>

