<div id="cabecera" class="d-flex flex-row">
  <span>Dirección General de Registro Civil, Identificación y Cedulación</span>
  <div class="d-flex flex-column">
    <span>Verificación de datos</span>
    <span>EN LÍNEA</span>
    <mat-icon aria-hidden="false" aria-label="ícono de edición de documento">edit_document</mat-icon>
  </div>
</div>
<div id="menu-general">
  <button id="btnVolverInicio" name="volverInicio" aria-describedby="Volver al inicio" class="btn btn-secondary">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <span>Volver al inicio</span>
  </button>
</div>
