<app-barra-menu nombreUsuario=""></app-barra-menu>
<div class="bg-principal">
    <div class="container-form d-flex bg-white mx-auto">
        <div class="formulario-campos container-sm">
            <h2 style="text-align: center;">Recuperación de Contraseña</h2>
            <div class="p-2 w-75 mx-auto">Estimado usuario, por favor debe crear una nueva contraseña para su cuenta:</div>
            <div *ngFor="let campo of campos" class="campos" class="w-75 mx-auto">
                <app-campo-entrada [formGroup]="formGroup" [campoOpciones]="campo">
                </app-campo-entrada>
            </div>
            <div class="botones container text-center">
                <div class="row">
                    <div class="col-sm-6">
                        <button id="btnSiguienteRecuperarPasswd" name="btnSiguienteRecuperarPasswd" aria-describedby="Siguiente paso para recuperar contraseña." class="btn btn-primary" (click)="validarFormulario()">
                            <span>
                                Siguiente
                            </span>
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button id="btnVolverInicio" name="btnVolverInicio" aria-describedby="Siguiente paso para recuperar contraseña." class="btn btn-primary" routerLink="/inicio-sesion">
                            <span >
                                Volver a Inicio
                            </span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
