.whatsapp-div {
  background-color: #23497A;
  padding: 5px;
}

.whatsapp-div i{
  color: white;
  margin: 0 5px;
}

.whatsapp-div a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.whatsapp-div a:hover {
  text-decoration: underline;
}

